body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(315deg, #c66975, #793b4a, #213645, #040607);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

nav {
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding: 1rem;
}

.nav-item {
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 200;
    padding: 10px;
    transition: .3s;
}

.nav-item:hover, span {
    color: rgb(154, 208, 255);
    transition: .3s;
}

#hero {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

h1 {
    color: aliceblue;
    font-size: 5rem;
    font-weight: 200;
}

.text {
    color: aliceblue;
    font-weight: 200;
    font-size: 1.5rem;
}

.heading {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 3rem;
}

.container {
  display: flex;
}

.project-container {
  display: flex;
  margin: 7rem 5rem;
  gap: 3rem;
}

.image-container {
  width: 45rem;
  height: 33rem;
  padding: 1rem;
  transition: .3s;
}

.project-image {
  width: 90%;
  height: 100%;
}

.image-container:hover {
  background-color: #04060772;
  transition: 1s;
}

.project-desc {
  color: aliceblue;
  position: relative;
  top: 5rem;
}

.link-text {
  color: aliceblue;
  text-decoration: none;
  border: 1px solid aliceblue;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  transition: .3s;
}

.link-text:hover {
  color: #040607;
  background-color: aliceblue;
  transition: .3s;
}

h2 {
  color: aliceblue;
  font-weight: 300;
}

@media (max-width: 1250px) {
  .project-container {
    flex-direction: column;
    margin-bottom: 15rem;
  }

  .project-desc {
    margin-top: -5rem;
  }

  .about-info {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    height: auto;
  }

  .image-container {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}